[user]
	name = horiykq
	email = kaito@horiy.dev

[alias]
	st = status
	l = log
	b = branch
	sw = switch
	a = add
	ps = push
	pl = pull
	m = merge
	cm = commit
	sts = stash
	f = fetch
	cl = clone

[pull]
	rebase = false

[push]
	autoSetupRemote = true
