[user]
	name = horiy0125
	email = horiy0125.ma@gmail.com

[alias]
	st = status
	l = log
	b = branch
	sw = switch
	a = add
	ps = push
	pl = pull
	m = merge
	cm = commit
	sts = stash
	f = fetch
	cl = clone

[pull]
	rebase = false
